<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Faten Jebri</h2>
            <h4>example@email.com</h4>
        <mat-icon>face</mat-icon>
    </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Admin">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active"  routerLink="/Admin/managevacancies" >Manage Vacancies</a>
    <a mat-list-item routerLinkActive="list-item-active" href="https://calendar.google.com/calendar/u/3/r" target="_blank" >Manage interviews</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Admin/manageapplications" >Manage Applications</a>
    <a mat-list-item routerLinkActive="list-item-active"  routerLink="/Admin/account" >Manage Account</a>

    <mat-divider></mat-divider>

    

</mat-nav-list>