<div *ngIf="basicinfo">
<!-- Add User information Modal -->
<br>
<h2>Let's start with your basic information</h2>

<form #AddUser_infoForm="ngForm" (ngSubmit)="onAddUser_info()">
    <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" [(ngModel)]="form.firstName" name="firstName" class="form-control" id="firstName"
            placeholder="Fist name" required />
    </div>
    <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" [(ngModel)]="form.lastName" name="lastName" class="form-control" id="lastName"
            placeholder="Last name" required />
    </div>
    <div class="form-group">
        <label for="date_Birth">Birth date</label>
        <input type="date" [(ngModel)]="form.date_Birth" name="date_Birth" class="form-control" id="date_Birth" placeholder="Birth Date"
            required />
    </div>
    <div class="form-group">
        <label for="region">Region</label>
        <input type="text" [(ngModel)]="form.region" name="region" class="form-control" id="region"
            placeholder="Region" required />
    </div>
    
    <div class="form-group">
        <label for="phone_Number">Phone number</label>
        <input type="number" [(ngModel)]="form.phone_Number" name="phone_Number" class="form-control" id="phone_Number"
            placeholder="Phone number" required />
    </div>
    <div class="form-group">
        <label for="gender">Gender:</label>
        <div>
            <input type="radio" id="femaleGender" [(ngModel)]="form.gender" name="gender" value="Female" />
            <label for="femaleGender">Female</label>
        </div>
        <div>
            <input type="radio" id="maleGender" [(ngModel)]="form.gender" name="gender" value="Male" />
            <label for="maleGender">Male</label>
        </div>
    </div>
    <div class="form-group">
        <label for="Work_status">Are You currently employed?</label>
        <div>
            <input type="radio" id="employed" [(ngModel)]="form.work_Status" name="work_Status" value="Yes" />
            <label for="employed">Yes</label>
        </div>
        <div>
            <input type="radio" id="Notemployed" [(ngModel)]="form.work_Status" name="work_Status" value="No" />
            <label for="Notemployed">No</label>
        </div>
    </div>
    <div class="form-group">
        <input value="accept" type="radio" id="email_Notification_Active" [(ngModel)]="form.email_Notification_Active" name="email_Notification_Active" />
        <label for="email_Notification_Active">I accept email notifications</label>
    </div>
    <div class="modal-footer">
        <button [disabled]="AddUser_infoForm.invalid" type="submit" class="btn btn-primary">Next step</button>
    </div>
</form>
</div>

<!--Adding education information-->
<div *ngIf="educinfo">
    <form #addEducationinfo_Form="ngForm" (ngSubmit)="onAddEducation_info()">
     <div class="form-group">
        <label for="institute">Institute</label>
        <input type="text" [(ngModel)]="form2.institute" name="institute" class="form-control" id="institute" placeholder="Institute name" required>
     </div>
     <div class="form-group">
        <label for="degree">Degree</label>
        <input type="text" [(ngModel)]="form2.degree" name="degree" class="form-control" id="degree" placeholder="Specify your degree" required>
     </div>
     <div class="form-group">
        <label for="major">Major</label>
        <input type="text" [(ngModel)]="form2.major" name="major" class="form-control" id="major" placeholder="Major" required>
     </div>
     <div class="form-group">
        <label for="startdate">Start Date</label>
        <input type="date" [(ngModel)]="form2.startdate" name="startdate" class="form-control" id="startdate" placeholder="Pick start date" required>
     </div>
     <div class="form-group">
        <label for="enddate">End Date</label>
        <input type="date" [(ngModel)]="form2.enddate" name="enddate" class="form-control" id="enddate" placeholder="Pick end date" >
       <input type="radio" id="current" [(ngModel)]="form2.current" name="current" value="current">
       <label for="current">Is current?</label>
    </div>

    <div class="modal-footer">
       <button [disabled]="addEducationinfo_Form.invalid"  type="submit" class="btn btn-primary" >Save and add</button>
       <button (click)="Goexp()" class="btn btn-primary" >Go next</button>
    </div>
    </form>
    <div class="alert alert-success" *ngIf="succesfuladd">
        Education added!
      </div>
 </div>

 <!--Adding experience information-->
<div *ngIf="expinfo">
    <form #addExperienceinfo_Form="ngForm" (ngSubmit)="onAddExperience_info()">
     <div class="form-group">
        <label for="company_Name">Company Name</label>
        <input type="text" [(ngModel)]="form3.company_Name" name="company_Name" class="form-control" id="company_Name" placeholder="Company name" required>
     </div>
     <div class="form-group">
        <label for="post">Post</label>
        <input type="text" [(ngModel)]="form3.post" name="post" class="form-control" id="post" placeholder="Specify your job post" required>
     </div>
     <div class="form-group">
        <label for="start_Date">Start Date</label>
        <input type="date" [(ngModel)]="form3.start_Date" name="start_Date" class="form-control" id="start_Date" placeholder="Pick start date" required>
     </div>
     <div class="form-group">
        <label for="end_Date">End Date</label>
        <input type="date" [(ngModel)]="form3.end_Date" name="end_Date" class="form-control" id="end_Date" placeholder="Pick end date" >
       <input type="radio" id="current" [(ngModel)]="form3.current" name="current" value="current">
       <label for="current">Is current?</label>
    </div>
    <div class="form-group">
     <label for="description">Description</label>
     <input type="text" [(ngModel)]="form3.description" name="description" class="form-control" id="description" placeholder="Add brief description of your experience" required>
  </div>
    <div class="modal-footer">
       <button [disabled]="addExperienceinfo_Form.invalid"  type="submit" class="btn btn-primary" >Save and add</button>
       <button (click)="Goskill()"  class="btn btn-primary" >Go next</button>
    </div>
    </form>
    <div class="alert alert-success" *ngIf="succesfuladd">
        Experience added!
      </div>
 </div>

 <!--Adding skill set information-->
<div *ngIf="skillinfo">
    <form #skillform="ngForm" (ngSubmit)="onAddskillset_info()">
     <div class="form-group">
        <label for="skill">skill</label>
        <SELECT id="skill" type="text" size="1" class="form-control" >
            <OPTION *ngFor="let skill of skills" value="{{skill.id_Skill}}">{{skill.skill_Name}}</OPTION>
        </SELECT>
        </div>
     <div class="form-group">
        <label for="level">Level (one being lowest)</label>
        <SELECT id="level" type="number" size="1" class="form-control">
            <OPTION>1</OPTION>
            <OPTION>2</OPTION>
            <OPTION>3</OPTION>
            <OPTION>4</OPTION>
            <OPTION>5</OPTION>
            </SELECT>     </div>
    <div class="modal-footer">
       <button  (click)="goforward()" class="btn btn-primary" >Go next</button>
       <button [disabled]="skillform.invalid" type="submit" class="btn btn-primary" >Save and add</button>
    </div>
    </form>
    <div class="alert alert-success" *ngIf="succesfuladd">
        Skill set added!
      </div>
 </div>
 <div *ngIf="forward">
     <h1>Resume added succesfully </h1>
     <h1>Procced to your homepage and start aplying right now </h1>
     <button  class="btn btn-primary" routerLink="/User">Start the journy!</button>

 </div>