<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>John Doe</h2>
            <h4>Johndoe@email.com</h4>
            <mat-icon>perm_identity</mat-icon>
        </div>
        </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/User">homepage</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/User/vacancylist">Apply</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/User/apptrack">Track applications</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/User/resumeupdate">Edit Resume </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/User/sponapp">Spontaneous application </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/User/account">Manage account</a>

   
</mat-nav-list>