<div class="s01">
    <form>
        <fieldset>
            <legend>Your future starts now</legend>
        </fieldset>
        <div class="inner-form">
            <div class="input-field first-wrap">
                <input id="search" type="text" placeholder="What are you looking for?">
            </div>
            <div class="input-field second-wrap">
                <SELECT id="job_type" type="text" size="1" >
                    <OPTION>All types
                    <OPTION>Job Type 1
                    <OPTION>Job Type 2
                    <OPTION>Job Type 3
                    <OPTION>Job Type 4
                    <OPTION>Job Type 5
                    <OPTION>Job Type 6
                    <OPTION>Job Type 7
                    <OPTION>Job Type 8
                    <OPTION>Job Type 9
                    <OPTION>Job Type 10
                    <OPTION>Job Type 11
                    <OPTION>Job Type 12
                    </SELECT>
            </div>
            <div class="input-field third-wrap">
                <button class="btn-search" type="button">Search</button>
            </div>
        </div>
    </form>
</div>